@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media (prefers-color-scheme: light) {
     :root {
        --text: #2c1302;
        --background: #fef4ec;
        --primary: #ff8e3d;
        --secondary: #f2d5c0;
        --accent: #0879c9;
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --text: #fde4d3;
        --background: #130901;
        --primary: #c25100;
        --secondary: #3f220d;
        --accent: #36a6f7;
    }
}

body {
    font-family: 'Outfit', sans-serif;
    background-image: var(--primary);
    background-image: -moz-linear-gradient(270deg, var(--primary) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(180deg, var(--primary) 0%, rgba(255, 255, 255, 1) 100%);
    /* background-image: linear-gradient(270deg, rgba(255, 106, 0, 1) 0%, rgba(255, 255, 255, 1) 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff6a00", endColorstr="#ffffff", GradientType=1);
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 10px;
    color: var(--text);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

h2 {
    font-weight: 600;
}