.blur {
    opacity: 100%;
    filter: blur(100px);
}

.blob {
    clip-path: polygon(6% 48%, 45% 68%, 95% 77%, 1% 66%, 81% 81%, 59% 44%, 30% 35%, 13% 58%, 59% 25%, 20% 76%, 25% 46%, 84% 8%, 93% 39%, 37% 37%, 23% 7%, 38% 19%, 29% 67%, 18% 50%, 42% 74%, 28% 64%, 4% 27%, 49% 38%, 85% 10%, 75% 79%, 60% 81%);
    width: 100%;
    height: 1000px;
    background-color: burlywood;
}