@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence:BLED,SCAN,XELA,YELA@0..100,-53..100,-100..100,-100..100&display=swap');

/* https://www.realtimecolors.com/?colors=000000-fff7f2-ff6a00-00a4f0-ffa890&fonts=Outfit-Raleway */
@media (prefers-color-scheme: light) {
    :root {
        --text: #000000;
        --background: #fff7f2;
        --primary: #ff6a00;
        --secondary: #00a4f0;
        --accent: #ffa890;
        --clear: rgba(255, 255, 255, 90);
        /* --fa-primary-color: #38ff00;
        --fa-secondary-color: #C700FF; */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --background: #0f0600;
        --primary: #ff6a00;
        --secondary: #0fb3ff;
        --accent: #701800;
        --clear: rgba(0, 0, 0, 90);
        /* --fa-primary-color: #38ff00;
        --fa-secondary-color: #C700FF; */
    }
}

:root{
    --timer: 90deg;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: var(--background);
    font-family: "Outfit", sans-serif;
    background-color: var(--background);
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0px;
    color: var(--text);
    width: 100%;
    animation: enter 2s forwards ease-in-out;
}

h1 {
    font-family: "Raleway", sans-serif;
}

#title {
    font-weight: 100;
    animation: weight 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s;
    background-image: linear-gradient(var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

#title:hover{
    animation-play-state: paused;
}

#subtitle{
    animation: weight2 10s cubic-bezier(0.46, 0.03, 0.52, 0.96) 2s;
}

h2 {
    font-weight: 700;
    color: var(--secondary);
}

h3{
    font-weight: 800;
    color: var(--accent);
}

img {
    width: 25%;
}

.slidey {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 992px) {
    .navbar .nav-item {
        /*top-left | top-right | bottom-right | bottom-left */
        border-radius: 10px 10px 10px 10px;
    }
}

@media (max-width: 340px) {
    img {
        width: 75%;
    }

    .slidey {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.slider {
    height: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.content{
    width: 98%;
    margin: 1%;
}

.iconic{
    background-image: conic-gradient(magenta, rgb(0, 221, 255));
}

.iconic2{
    background: conic-gradient(from 0.25turn at 50% 30%, #f69d3c, 10deg, #3f87a6);
    /*350deg, #ebf8e1*/
}

.iconic3{
    /* background: conic-gradient(from 3.1416rad at 10% 50%, #e66465, #9198e5); */
    background: conic-gradient(in hsl longer hue from 3.1416rad at 10% 50%, #FF6A00, #0095FF);
}

.rebrand-head{
    background: conic-gradient(from 0.25turn at 50% 50%, #ff8500, var(--timer), #000000);
}

.carousel-item > img{
    height: 50%;
    width: auto;
}

@keyframes weight {
    0% {
        font-weight: 100;
    }

    50% {
        font-weight: 900;
    }

    100% {
        font-weight: 100;
    }
}

@keyframes weight2 {
    0% {
        font-weight: 900;
    }

    50% {
        font-weight: 100;
    }

    100% {
        font-weight: 900;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}