@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence:BLED,SCAN,XELA,YELA@0..100,-53..100,-100..100,-100..100&display=swap');

/* https://www.realtimecolors.com/?colors=000000-fff6f0-ff6a00-ffa600-66bfff&fonts=Outfit-Raleway */
:root[data-bs-theme="light"] {
    --text: #000000;
    --background: #fff6f0;
    --primary: #ff6a00;
    --secondary: #ffa600;
    --accent: #66bfff;
    --clear: rgba(255, 255, 255, 90);
    --backdrop: rgba(0, 0, 0, 0.1);
    --fa-primary-color: var(--primary);
    --fa-secondary-color: var(--secondary);
}

:root[data-bs-theme="dark"] {
    --text: #ffffff;
    --background: #0f0600;
    --primary: #ff6a00;
    --secondary: #ffa600;
    --accent: #005999;
    --clear: rgba(0, 0, 0, 90);
    --backdrop: rgba(255, 255, 255, 0.1);
    --fa-primary-color: var(--secondary);
    --fa-secondary-color: var(--primary);
}

:root {
    --timer: 90deg;
    --fa-secondary-opacity: 1;
}

.icon {
    color: var(--fa-primary-color);
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-image: var(--background);
    font-family: "Outfit", sans-serif;
    background-color: var(--background);
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0px;
    color: var(--text);
    width: 100%;
    animation: enter 1s forwards ease-in-out;
    transition: 0.5s;
}

h1 {
    font-family: "Raleway", sans-serif;
}

#title {
    font-weight: 100;
    animation: weight 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s;
    background-image: linear-gradient(var(--primary), var(--secondary) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

#title:hover {
    animation-play-state: paused;
}

#subtitle {
    animation: weight2 10s cubic-bezier(0.46, 0.03, 0.52, 0.96) 1s;
}

#titlecontainer{
    display: flex;
    flex-direction: row;
}

#splash{
    animation: rotate 2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 1s infinite;
    background-image: linear-gradient(270deg, var(--primary), var(--secondary) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    border: var(--accent) 2.5px;
    border-style: dashed double solid;
    padding: 10px;
}

h2 {
    font-weight: 700;
    color: var(--secondary);
}

h3 {
    font-weight: 800;
    color: var(--accent);
}

img {
    width: 25%;
}

.slidey {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 992px) {
    .navbar .nav-item {
        /*top-left | top-right | bottom-right | bottom-left */
        border-radius: 10px 10px 10px 10px;
    }
}

@media (max-width: 340px) {
    img {
        width: 75%;
    }

    .slidey {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.slider {
    height: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    width: 98%;
    margin: 1%;
}

.iconic {
    background-image: conic-gradient(magenta, rgb(0, 221, 255));
}

.iconic2 {
    background: conic-gradient(from 0.25turn at 50% 30%, #f69d3c, 10deg, #3f87a6);
    /*350deg, #ebf8e1*/
}

.iconic3 {
    /* background: conic-gradient(from 3.1416rad at 10% 50%, #e66465, #9198e5); */
    background: conic-gradient(in hsl longer hue from 3.1416rad at 10% 50%, #FF6A00, #0095FF);
}

.rebrand-head {
    background: conic-gradient(from 0.25turn at 50% 50%, #ff8500, var(--timer), #000000);
}

.carousel-item>img {
    height: 50%;
    width: auto;
}

@keyframes weight {
    0% {
        font-weight: 100;
    }

    50% {
        font-weight: 900;
    }

    100% {
        font-weight: 100;
    }
}

@keyframes weight2 {
    0% {
        font-weight: 900;
    }

    50% {
        font-weight: 100;
    }

    100% {
        font-weight: 900;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: scale(0) translateY(100%) translate(100%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0%) translateX(0%);
    }
}

@keyframes rotate {
    0%{
        transform:translateX(10px);
    }

    50%{
        transform:translateX(50px);

    }

    100%{
        transform:translateX(10px);
    }
}