main {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

figure {
    flex: auto;
    overflow: hidden;
    border-radius: 50px;
}

.image {
    height: 100px;
    width: auto;
    min-width: 100%;
    object-fit: cover;
}