---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Under Construction, Another Page">
	<main>
		    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
            .forEach(tooltip => {
                new bootstrap.Tooltip(tooltip)
            })
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!--[if lt IE 7]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
    <div class="content">
    <h1 id="title">Another Page</h1>
    	<h2>This is a Test for this test. <i class="fa-sharp-duotone fa-solid fa-fireplace fa-bounce"></i></h2>
    	<p class="hidden">
        	If you can see this, then the gradient is probably broken. Sorry about that!
        <i class="fa-sharp fa-thin fa-face-pensive"></i>
    	</p>
        </div>
        <div class="iconic">
        <h1><i class="fa-sharp-duotone fa-solid fa-fireplace fa-bounce"></i>Test<i class="fa-sharp-duotone fa-solid fa-fireplace fa-bounce"></i></h1>
        </div>
	</main>
</Layout>
