---
import '../styles/grid.css'
import Navbar from '../components/Navbar.astro';
---

<main>
<figure class="card"><img src="img/yayalso/F1.PNG" width="640" height="735" class=""></figure>
<figure class="card"><img src="img/yayalso/F2.PNG" width="640" height="735" class=""></figure>
<figure class="card"><img src="img/yayalso/F3.PNG" width="640" height="735" class=""></figure>
<figure class="card"><img src="img/yayalso/F4.PNG" width="640" height="735" class=""></figure>
<figure class="card"><img src="img/yayalso/F5.PNG" width="640" height="735" class=""></figure>
<figure class="card"><img src="img/yayalso/F6.PNG" width="640" height="735" class=""></figure>
</main>