---
import '../styles/grid.css';
import Navbar from '../components/Navbar.astro';
import Testout from '../layouts/Testout.astro';
---


<Testout title="Grid">
<Navbar></Navbar>

<main>
<figure class="card"><img src="/img/yayalso/F1.PNG" width="640" height="735" class="image"></figure>
<figure class="card"><img src="/img/yayalso/F2.PNG" width="640" height="735" class="image"></figure>
<figure class="card"><img src="/img/yayalso/F3.PNG" width="640" height="735" class="image"></figure>
<figure class="card"><img src="/img/yayalso/F4.PNG" width="640" height="735" class="image"></figure>
<figure class="card"><img src="/img/yayalso/F5.PNG" width="640" height="735" class="image"></figure>
<figure class="card"><img src="/img/yayalso/F6.PNG" width="640" height="735" class="image"></figure>
</main>
</Testout>