---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
            .forEach(tooltip => {
                new bootstrap.Tooltip(tooltip)
            })
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!--[if lt IE 7]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../"><img class="favi" src="../img/faviconweb.svg" alt="an orange cube"
                    data-toggle="tooltip" title="Go Home" data-bs-placement="bottom"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" data-toggle="tooltip" title="See pages" data-bs-placement="bottom">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/page/">Page
                            <i class="fa-sharp fa-thin fa-hexagon-image"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/another/">Another Page </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 id="title" style="font-weight: 100;">Welcome</h1>
    <script>
        // Create a range slider
        const slider = document.createElement('input');
        slider.type = 'range';
        slider.min = '100';
        slider.max = '900';
        slider.step = '100';
        slider.value = '100';
        slider.className = 'form-range slider'
        // Add an event listener to the slider
        slider.addEventListener('input', () => {
            const fontWeight = slider.value;
            const element = document.getElementById('title');
            element.style.fontWeight = fontWeight;
        });
        // Add the slider to the DOM
        document.body.appendChild(slider);
    </script>
		<h1>Under Construction: conic-gradient(var(--magenta), var(--blue-gradient))</h1>
    	<h2>To this site</h2>
    	<p class="hidden">
        	If you can see this, then the gradient is probably broken. Sorry about that!
        <i class="fa-sharp fa-thin fa-face-pensive"></i>
    	</p>
	</main>
</Layout>
