---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main>
        <!--[if lt IE 7]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
        <div class="content">
            <div id="titlecontainer">
            <h1 id="title">Thisiscoding1234</h1> <h4 id="splash">Oops, an Error!</h4></div>
            <h2 id="subtitle">Doing Random Thingys!</h2>
            <h3 id="subtitle">
                Q = (A ⊻ D) ⊻ ((¬ (B ⊻ C)) ⊼ ((¬ (B ⊻ C)) ∧ (A ⊻ D)))
            </h3>
        </div>
        <script>
            const s = document.getElementById("splash");
            const messages = [
                "Now on Astro 5!", 
                "It's Boolean!", 
                "I have no idea!", 
                "Just an existential crisis!", 
                "Now with silly messages!", 
                "This is Coding!", 
                "One, Two Three, Four!", 
                "This is a set of discombobulated ideas!",
                "Bloop!",
                "Something else!",
                "I am just doing ideas!"
            ]
            const r = Math.floor(Math.random() * messages.length)
            s.innerText = messages[r]
        </script>
    </main>
</Layout>
