---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main>
        <!--[if lt IE 7]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
        <div class="flex flex-col items-center justify-center min-h-screen bg-background text-text">
            <div class="flex flex-row items-center justify-center space-x-4">
                <h1 class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary animate-pulse">Thisiscoding1234</h1>
                <h4 class="text-2xl text-accent" id="splash">Oops, an Error!</h4>
            </div>
            <h2 class="text-4xl font-semibold text-secondary mt-4">Doing Random Thingys!</h2>
            <h3 class="text-2xl font-medium text-accent mt-2">
                Q = (A ⊻ D) ⊻ ((¬ (B ⊻ C)) ⊼ ((¬ (B ⊻ C)) ∧ (A ⊻ D)))
            </h3>
        </div>
        <script>
            const s = document.getElementById("splash");
            const messages = [
                "Now on Astro 5!", 
                "It's Boolean!", 
                "I have no idea!", 
                "Just an existential crisis!", 
                "Now with silly messages!", 
                "This is Coding!", 
                "One, Two Three, Four!", 
                "This is a set of discombobulated ideas!",
                "Bloop!",
                "Something else!",
                "I am just doing ideas!"
            ]
            const r = Math.floor(Math.random() * messages.length)
            s.innerText = messages[r]
        </script>
    </main>
</Layout>
