---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Under Construction">
	<main>
		    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
            .forEach(tooltip => {
                new bootstrap.Tooltip(tooltip)
            })
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!--[if lt IE 7]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
    <div class="content">
    <h1 id="title" style="font-weight: 100;">Welcome</h1>

		<h1>Under Construction</h1>
    	<h2>To this site</h2>
    	<p class="hidden">
        	If you can see this, then the gradient is probably broken. Sorry about that!
        <i class="fa-sharp fa-thin fa-face-pensive"></i>
    	</p>
        </div>
        <div class="iconic">
        <h1>Test</h1>
        </div>
        <div class="iconic2">
        <h1>Test</h1>
        </div>
        <div class="iconic3">
        <h1>Test</h1>
        </div>
            <script>
        // Create a range slider
        const slider = document.createElement('input');
        slider.type = 'range';
        slider.min = '100';
        slider.max = '900';
        slider.step = '1';
        slider.value = '100';
        slider.className = 'form-range slider'
        // Add an event listener to the slider
        slider.addEventListener('input', () => {
            const fontWeight = slider.value;
            const element = document.getElementById('title');
            element.style.fontWeight = fontWeight;
        });
        // Add the slider to the DOM
        document.body.appendChild(slider);
    </script>
	</main>
</Layout>
