---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Under Construction, Just a Page">
    <main>
        <!--[if lt IE 7]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
        <div class="content">
            <h1 id="title">Just a Page.</h1>
            <h2>I am working on this site.</h2>
        </div>
    </main>
</Layout>
