---
import Layout from '../layouts/Layout.astro';
import '../styles/grid.css';
---

<Layout title="A celebration of the weird people whom follow me, and I am fine with">
	<main>
    <!--[if lt IE 7]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
    <div class="content">
    <h1 id="title">A celebration of my friends that follow me!</h1>
    <h2>You are so nice! <i class="fa-thin fa-user-tie fa-bounce"></i></h2>
    <h3><i class="fa-thin fa-user-tie fa-spin"></i>Let us Celebrate them!<i class="fa-thin fa-user-tie fa-spin fa-spin-reverse"></i></h3>
        <div>
          <main>
          <figure class=""><img src="/img/yayalso/F1.PNG" class="image"></figure>
          <figure class=""><img src="/img/yayalso/F2.PNG" class="image"></figure>
          <figure class=""><img src="/img/yayalso/F3.PNG" class="image"></figure>
          <figure class=""><img src="/img/yayalso/F4.PNG" class="image"></figure>
          <figure class=""><img src="/img/yayalso/F5.PNG" class="image"></figure>
          <figure class=""><img src="/img/yayalso/F6.PNG" class="image"></figure>
          <figure class=""><img src="/img/yayalso/F7.PNG" class="image"></figure>
          <figure class=""><img src="/img/yayalso/F8.PNG" class="image"></figure>
          </main>
          </div>
    </div>
	</main>
</Layout>
