@import url(./base.css);

.main-clock:hover{
    overflow: visible;
    border: 2px solid #00000000;
    display: flex;
    flex-direction: row;
    transition: translate overflow border 1s var(--bounce);
    #hour{
        translate: -75%;
    }
    #minuite{
        translate: 50%;
    }
    #second{
        translate: 75%;
    }
}
.clock-f {
	background-image: radial-gradient(color-mix(in srgb,var(--colour) 100%, transparent), color-mix(in srgb,var(--colour) 90%, transparent) calc(var(--a)/1.425), color-mix(in srgb, var(--colour) 0%, transparent) calc(var(--a)/1.425));
    border-radius: 50%;
}
