@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* animation: hueShiftA 1s linear infinite; */
	--seconds: 1s;
	--mins: calc(var(--seconds)*60);
	--hrs: calc(var(--mins)*12);
	--hue: 25;
	--mod: 10;
	--c1: hsl(var(--hue) 100% 50%);
	--c2: hsl(calc(var(--hue) + (1 * var(--mod))) 100% 50%);
	--c3: hsl(calc(var(--hue) + (2 * var(--mod))) 100% 50%);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-clock {
    position: relative;
    width: 500px;
    aspect-ratio: 1/1;
    border: 2px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    top: -100px
}
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}
.tick {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 15px;
    background: rgba(0, 0, 0, 0.75);
    transform-origin: center;
	z-index: 5;
    border-radius: 10px;
}
.hour-tick {
    width: 8px;
    height: 40px;
    display: block;
    border-radius: 10px;
}
.clock-f {
    position: absolute;
    width: 100%;
	aspect-ratio: 1/1;
	background-image: conic-gradient(var(--colour), transparent);
}
#hour {
    --colour: var(--c3);
    z-index: 1;
}
#minute {
	--colour: var(--c2);
    z-index: 2;
}
#second {
	--colour: var(--c1);
    z-index: 3;
}
#millis {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translate(-50%, 0) rotate(0deg);
    width: 5px;
    height: 50%;
    background: black;
    z-index: 5;
    opacity: 0.25;
    border-radius: 10px;
}
.main-label {
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Chivo Mono", monospace;
    color: black;
    font-size: 150px;
    display: flex;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
	user-select: none;
}
@keyframes hueShiftA {
    0%{
        --hue: 0;
    }
    50%{
        --hue: 180;
    }
    100%{
        --hue: 360;
    }
}
@keyframes hueShiftB {
    0%{
        --mod: 0;
    }
    50%{
        --mod: 180;
    }
    100%{
        --mod: 360;
    }
}

#c1{font-weight: 100;}

#c2{font-weight: 175;}

#c3{font-weight: 225;}

#c4{font-weight: 300;}

#c5{font-weight: 375;}

#c6{font-weight: 450;}

#c7{font-weight: 525;}

#c8{font-weight: 600;}

#c9{font-weight: 675;}

#c10{font-weight: 750;}

#c11{font-weight: 825;}

#c12{font-weight: 900;}

.lable-text{
    margin-right: -14px;
}