@import url(./base.css);

.main-clock:hover{
    overflow: visible;
    border: 2px solid #00000000;
    display: flex;
    flex-direction: row;
    transition: translate overflow border 1s var(--bounce);
    #hour{
        translate: -75%;
    }
    #minuite{
        translate: 50%;
    }
    #second{
        translate: 75%;
    }
}
.clock-f {
	background-image: linear-gradient(var(--colour), color-mix(in srgb, var(--colour) 0%, transparent) var(--trans));
    border-radius: 50%;
}

#millis {
    background: rgb(0, 0, 0);
}