@import url(./base.css);

:root{
    --hue: 25;
    --mod: 15;
    --c1: hsl(var(--hue) 15% 25%);
    --c2: hsl(calc(var(--hue) + (1 * var(--mod))) 15% 50%);
    --c3: hsl(calc(var(--hue) + (2 * var(--mod))) 15% 75%);
    --c4: hsl(calc(var(--hue) + 180) 15% 50%);
}

.main-clock {
    --border-width: 10px;
    --b: 0%;
    --colour: white;
    width: calc(var(--clock-size) - (var(--border-width) * 2));
    border: var(--border-width) solid transparent;
    background: 
        linear-gradient(to right, white, white), 
        conic-gradient(color-mix(in srgb, var(--colour) 100%, transparent), color-mix(in srgb, var(--colour) 75%, transparent) var(--b), color-mix(in srgb, var(--colour) 0%, transparent) var(--b)); 
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
}
.clock-f {
	background-image: conic-gradient(color-mix(in srgb,var(--colour) 100%, transparent), color-mix(in srgb,var(--colour) 75%, transparent) var(--a), color-mix(in srgb, var(--colour) 0%, transparent) var(--a));
    border-radius: 50%;
}

#c14{
    --weight: 900;
    font-size :50%;
    text-shadow :-1px -1px 0px  black, 1px -1px 0px  black, -1px 1px 0px black, 1px 1px 0px  black;
}

.tick {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 12px;
    background: white;
    transform-origin: center;
	z-index: 5;
    border-radius: 10px;
    mix-blend-mode: difference;
}
.hour-tick {
    width: 8px;
    height: 30px;
    display: block;
    border-radius: 10px;
}
