---
---

<nav class="bg-gray-200 p-4 rounded-lg">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-orange-500 hover:text-orange-700" href="../../">
            <img class="w-10 h-10 transition-transform duration-1000 ease-in-out transform hover:rotate-180" src="../../img/faviconweb.svg" alt="an orange cube" title="Go Home">
        </a>
        <button class="text-gray-700 hover:text-gray-900 focus:outline-none" type="button" aria-label="Toggle navigation" title="See pages">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
        <div class="hidden md:flex md:items-center md:space-x-4">
            <ul class="flex space-x-4">
                <li>
                    <a class="text-gray-700 hover:text-gray-900" href="/jankland/one/">
                        <i class="fa-sharp-duotone fa-solid fa-microchip fa-xl"></i>| Jank1
                    </a>
                </li>
                <li>
                    <a class="text-gray-700 hover:text-gray-900" href="/jankland/two/">
                        <i class="fa-sharp-duotone fa-solid fa-microchip-ai fa-xl"></i>| Jank2
                    </a>
                </li>
                <li>
                    <a class="text-gray-700 hover:text-gray-900" href="/jankland/three/">
                        <i class="fa-sharp-duotone fa-solid fa-microchip fa-xl"></i>| Jank3
                    </a>
                </li>
                <li>
                    <a class="text-gray-700 hover:text-gray-900" href="/jankland/four/">
                        <i class="fa-sharp-duotone fa-solid fa-microchip-ai fa-xl"></i>| Jank4
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
