---
import '../styles/global.css'
import '../styles/navbar.css'
---



    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../"><img class="favi" src="../../img/faviconweb.svg" alt="an orange cube"
                    data-toggle="tooltip" title="Go Home" data-bs-placement="bottom"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" data-toggle="tooltip" title="See pages" data-bs-placement="bottom">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/jankland/one/"><i class="fa-sharp-duotone fa-solid fa-microchip fa-xl"></i>| Jank1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jankland/two/"><i class="fa-sharp-duotone fa-solid fa-microchip-ai fa-xl"></i>| Jank2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jankland/three/"><i class="fa-sharp-duotone fa-solid fa-microchip fa-xl"></i>| Jank3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jankland/four/"><i class="fa-sharp-duotone fa-solid fa-microchip-ai fa-xl"></i>| Jank4</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>