---
const tickMarks = Array.from({ length: 60 }, (_, i) => i);
import "../../styles/clocks/garde.css";
import Analytics from "../../components/Analytics.astro";
import Mouse from "../../components/Mouse.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Now, What is this?</title>
    <Analytics></Analytics>
  </head>
  <body>
        <div class="clock-f" id="hour"></div>
        <div class="clock-f" id="minute"></div>
        <div class="clock-f" id="second"></div>
        <span id="hrs1" style="z-index: inherit;" data-cursor-icon="Hrs">
        <span class="lable-text" id="c1">0</span>
        <span class="lable-text" id="c2">0</span>
        </span><span id="min1" style="z-index: inherit;" data-cursor-icon="Min">
        <span class="lable-text" id="c4">0</span>
        <span class="lable-text" id="c5">0</span>
        </span><span id="secs" style="z-index: inherit;" data-cursor-icon="Sec">
        <span class="lable-text" id="c7">0</span>
        <span class="lable-text" id="c8">0</span>
        </span><span class="mill1" style="z-index: inherit;" data-cursor-icon="Ms">
        <span class="lable-text" id="c10">0</span>
        <span class="lable-text" id="c11">0</span>
        <span class="lable-text" id="c12">0</span>
</span>
{
  tickMarks.map((i) => (
    <div
      class={`tick ${i % 5 === 0 ? "hour-tick" : ""}`}
      style={`top: ${(i / 59) * 100}% `}
    />
  ))
}
{
  tickMarks.map((i) => (
    <div
      class={`tick-l ${i % 5 === 0 ? "hour-tick-l" : ""}`}
      style={`top: ${(i / 59) * 100}% `}
    />
  ))
}
    <script
      src="https://cdn.jsdelivr.net/npm/accutime@latest/dist/accutime.min.js"
    ></script>
    <!--- https://www.npmjs.com/package/accutime --->
    <script>
      function zi(e, index) {document.getElementById(e).style.zIndex = index};
      setInterval(() => {
        const now = new Date();
        const milisRatio = now.getMilliseconds() / 1000;
        let secondsRatio = (milisRatio + now.getSeconds()) / 60;
        let minutesRatio = (secondsRatio + now.getMinutes()) / 60;
        let hoursRatio = (minutesRatio + now.getHours()) / 12;
        if (hoursRatio > 1){hoursRatio = hoursRatio - 1}
        const s = "second";
        const m = "minute";
        const h = "hour";
        const st = "secs";
        const mt = "min1";
        const ht = "hrs1";
        let pt = -1;
        let pm = -2;
        let pb = -3;
        let ptt = 0;
        let ptm = 0;
        let ptb = 0;
        let sR = Number(secondsRatio);
        let mR = Number(minutesRatio);
        let hR = Number(hoursRatio);
        document.getElementById(s).style.setProperty('--a', `${secondsRatio * 100}%`);
        document.getElementById(m).style.setProperty('--a', `${minutesRatio * 100}%`);
        document.getElementById(h).style.setProperty('--a', `${hoursRatio * 100}%`);
        if (sR > mR && mR > hR) {zi(s, pb); zi(m, pm); zi(h, pt); zi(st, ptb); zi(mt, ptm); zi(ht, ptt);};
        if (sR > hR && hR > mR) {zi(s, pb); zi(h, pm); zi(m, pt); zi(st, ptb); zi(ht, ptm); zi(mt, ptt);};
        if (mR > sR && sR > hR) {zi(m, pb); zi(s, pm); zi(h, pt); zi(mt, ptb); zi(st, ptm); zi(ht, ptt);};
        if (mR > hR && hR > sR) {zi(m, pb); zi(h, pm); zi(s, pt); zi(mt, ptb); zi(ht, ptm); zi(st, ptt);};
        if (hR > sR && sR > mR) {zi(h, pb); zi(s, pm); zi(m, pt); zi(ht, ptb); zi(st, ptm); zi(mt, ptt);};
        if (hR > mR && mR > sR) {zi(h, pb); zi(m, pm); zi(s, pt); zi(ht, ptb); zi(mt, ptm); zi(st, ptt);};

        if (String(now.getHours()).length === 1) {
          document.getElementById("c1").innerHTML = "0";
          document.getElementById("c2").innerHTML = String(now.getHours());
        } else {
          document.getElementById("c1").innerHTML = String(
            now.getHours(),
          ).charAt(0);
          document.getElementById("c2").innerHTML = String(
            now.getHours(),
          ).charAt(1);
        }
        if (String(now.getMinutes()).length === 1) {
          document.getElementById("c4").innerHTML = "0";
          document.getElementById("c5").innerHTML = String(now.getMinutes());
        } else {
          document.getElementById("c4").innerHTML = String(
            now.getMinutes(),
          ).charAt(0);
          document.getElementById("c5").innerHTML = String(
            now.getMinutes(),
          ).charAt(1);
        }
        if (String(now.getSeconds()).length === 1) {
          document.getElementById("c7").innerHTML = "0";
          document.getElementById("c8").innerHTML = String(now.getSeconds());
        } else {
          document.getElementById("c7").innerHTML = String(
            now.getSeconds(),
          ).charAt(0);
          document.getElementById("c8").innerHTML = String(
            now.getSeconds(),
          ).charAt(1);
        }
        if (String(now.getMilliseconds()).length === 1) {
          document.getElementById("c10").innerHTML = "0";
          document.getElementById("c11").innerHTML = "0";
          document.getElementById("c12").innerHTML = String(
            now.getMilliseconds(),
          ).charAt(0);
        } else {
          if (String(now.getMilliseconds()).length === 2) {
            document.getElementById("c10").innerHTML = "0";
            document.getElementById("c11").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(0);
            document.getElementById("c12").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(1);
          } else {
            document.getElementById("c10").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(0);
            document.getElementById("c11").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(1);
            document.getElementById("c12").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(2);
          }
        }
      }, 1);
    </script>
    <Mouse></Mouse>
  </body>
</html>
