---
const tickMarks = Array.from({ length: 60 }, (_, i) => i);
import "../../styles/clocks/gradient.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gradient Clock</title>
  </head>
  <body>
    <div class="main-clock">
      <div class="clock-face">
        {
          tickMarks.map((i) => (
            <div
              class={`tick ${i % 5 === 0 ? "hour-tick" : ""}`}
              style={`transform: translate(-50%, -50%) rotate(${i * 6}deg) translateY(-210px)`}
            />
          ))
        }
        <div class="clock-f" id="hour"></div>
        <div class="clock-f" id="minute"></div>
        <div class="clock-f" id="second"></div>
        <div class="hand" id="millis"></div>
      </div>
    </div>
    <div class="main-label"><span id="hrs"><00</span>:<span id="min">00</span>:<span id="sds">00</span>:<span id="mls">00</span></div>
    <script src="https://cdn.jsdelivr.net/npm/accutime@latest/dist/accutime.min.js"></script>
<!--- https://www.npmjs.com/package/accutime --->
    <script>
      setInterval( () => {
        const now = new Date();
        const milisRatio = now.getMilliseconds() / 1000;
        const secondsRatio = ( milisRatio + now.getSeconds()) / 60;
        const minutesRatio = (secondsRatio + now.getMinutes()) / 60;
        const hoursRatio = (minutesRatio + now.getHours()) / 12;
        let strHrs = "0";
        let strMin = "0";
        let strSds = "0";
        document.getElementById( "millis" ).style.transform = `rotate(${milisRatio * 360}deg) translate(-50%, 0)`;
        document.getElementById( "second" ).style.transform = `rotate(${secondsRatio * 360}deg)`;
        document.getElementById( "minute" ).style.transform = `rotate(${minutesRatio * 360}deg)`;
        document.getElementById( "hour" ).style.transform = `rotate(${hoursRatio * 360}deg)`;
        if ( String( now.getHours() ).length === 1 ) {
          strHrs = "0" + String( now.getHours() );
          document.getElementById( "hrs" ).innerHTML = strHrs;
        }
        else {
          document.getElementById( "hrs" ).innerHTML = String( now.getHours() );
        }
        if ( String( now.getMinutes() ).length === 1 ) {
          strMin = "0" + String( now.getMinutes() );
          document.getElementById( "min" ).innerHTML = strMin;
        }
        else {
          document.getElementById( "min" ).innerHTML = String( now.getMinutes() );
        }
        if ( String( now.getSeconds() ).length === 1 ) {
          strSds = "0" + String( now.getSeconds() );
          document.getElementById( "sds" ).innerHTML = strSds;
        }
        else {
          document.getElementById( "sds" ).innerHTML = String( now.getSeconds() );
        }
        if ( String( now.getMilliseconds() ).length === 1 ) {
          strHrs = "00" + String( now.getMilliseconds() );
          document.getElementById( "mls" ).innerHTML = strHrs;
        }
        else {
          if ( String( now.getMilliseconds() ).length === 2 ) {
            strHrs = "0" + String( now.getMilliseconds() );
            document.getElementById( "mls" ).innerHTML = strHrs;
          }
        else{
            document.getElementById( "mls" ).innerHTML = String( now.getMilliseconds() );
        }
      }
        console.log(hoursRatio + ":" + minutesRatio + ":" + secondsRatio + ":" + milisRatio)
      }, 1 );
    </script>
    </body>
</html>
