---
const tickMarks = Array.from({ length: 60 }, (_, i) => i);
import "../../styles/clocks/gradient.css";
import Analytics from "../../components/Analytics.astro";
import Mouse from "../../components/Mouse.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gradient Clock</title>
    <Analytics></Analytics>
  </head>
  <body>
    <div class="main-clock" data-cursor-icon="none">
      <div class="clock-face">
        {
          tickMarks.map((i) => (
            <div
              class={`tick ${i % 5 === 0 ? "hour-tick" : ""}`}
              style={`transform: translate(-50%, -50%) rotate(${i * 6}deg) translateY(calc(var(--clock-size) * 0.45))`}
            />
          ))
        }
        <div class="clock-f" id="hour"></div>
        <div class="clock-f" id="minute"></div>
        <div class="clock-f" id="second"></div>
        <div class="hand" id="millis"></div>
      </div>
    </div>
    <div class="main-label">
      <span class="hrs1">
        <span class="lable-text" id="c1">0</span>
        <span class="lable-text" id="c2">0</span>
      </span><span class="lable-text" id="c3">:</span><span class="min1">
        <span class="lable-text" id="c4">0</span>
        <span class="lable-text" id="c5">0</span>
      </span><span class="lable-text" id="c6">:</span><span class="secs">
        <span class="lable-text" id="c7">0</span>
        <span class="lable-text" id="c8">0</span></span
      ><span class="lable-text" id="c9">:</span><span class="mill1">
        <span class="lable-text" id="c10">0</span>
        <span class="lable-text" id="c11">0</span>
        <span class="lable-text" id="c12">0</span>
      </span>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/accutime@latest/dist/accutime.min.js"
    ></script>
    <!--- https://www.npmjs.com/package/accutime --->
    <script>
          function zi(e, index) {document.getElementById(e).style.zIndex = index};
      setInterval(() => {
        const now = new Date();
        const milisRatio = now.getMilliseconds() / 1000;
        const secondsRatio = (milisRatio + now.getSeconds()) / 60;
        const minutesRatio = (secondsRatio + now.getMinutes()) / 60;
        const hoursRatio = (minutesRatio + now.getHours()) / 12;
        document.getElementById("millis").style.transform =
          `rotate(${milisRatio * 360}deg) translate(-50%, 0)`;
        document.getElementById("second").style.transform =
          `rotate(${secondsRatio * 360}deg)`;
        document.getElementById("minute").style.transform =
          `rotate(${minutesRatio * 360}deg)`;
        document.getElementById("hour").style.transform =
          `rotate(${hoursRatio * 360}deg)`;
          const s = "second";
        const m = "minute";
        const h = "hour";
        let pt = 1;
        let pm = 2;
        let pb = 3;
        let sR = Number(secondsRatio);
        let mR = Number(minutesRatio);
        let hR = Number(hoursRatio);
          if (sR > mR && mR > hR) {zi(s, pb); zi(m, pm); zi(h, pt);};
        if (sR > hR && hR > mR) {zi(s, pb); zi(h, pm); zi(m, pt);};
        if (mR > sR && sR > hR) {zi(m, pb); zi(s, pm); zi(h, pt);};
        if (mR > hR && hR > sR) {zi(m, pb); zi(h, pm); zi(s, pt);};
        if (hR > sR && sR > mR) {zi(h, pb); zi(s, pm); zi(m, pt);};
        if (hR > mR && mR > sR) {zi(h, pb); zi(m, pm); zi(s, pt);};
        if (String(now.getHours()).length === 1) {
          document.getElementById("c1").innerHTML = "0";
          document.getElementById("c2").innerHTML = String(now.getHours());
        } else {
          document.getElementById("c1").innerHTML = String(
            now.getHours(),
          ).charAt(0);
          document.getElementById("c2").innerHTML = String(
            now.getHours(),
          ).charAt(1);
        }
        if (String(now.getMinutes()).length === 1) {
          document.getElementById("c4").innerHTML = "0";
          document.getElementById("c5").innerHTML = String(now.getMinutes());
        } else {
          document.getElementById("c4").innerHTML = String(
            now.getMinutes(),
          ).charAt(0);
          document.getElementById("c5").innerHTML = String(
            now.getMinutes(),
          ).charAt(1);
        }
        if (String(now.getSeconds()).length === 1) {
          document.getElementById("c7").innerHTML = "0";
          document.getElementById("c8").innerHTML = String(now.getSeconds());
        } else {
          document.getElementById("c7").innerHTML = String(
            now.getSeconds(),
          ).charAt(0);
          document.getElementById("c8").innerHTML = String(
            now.getSeconds(),
          ).charAt(1);
        }
        if (String(now.getMilliseconds()).length === 1) {
          document.getElementById("c10").innerHTML = "0";
          document.getElementById("c11").innerHTML = "0";
          document.getElementById("c12").innerHTML = String(
            now.getMilliseconds(),
          ).charAt(0);
        } else {
          if (String(now.getMilliseconds()).length === 2) {
            document.getElementById("c10").innerHTML = "0";
            document.getElementById("c11").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(0);
            document.getElementById("c12").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(1);
          } else {
            document.getElementById("c10").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(0);
            document.getElementById("c11").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(1);
            document.getElementById("c12").innerHTML = String(
              now.getMilliseconds(),
            ).charAt(2);
          }
        }
        console.log(
          hoursRatio +
            ":" +
            minutesRatio +
            ":" +
            secondsRatio +
            ":" +
            milisRatio,
        );
      }, 1);
    </script>
    <Mouse></Mouse>
  </body>
</html>
