---
const tickMarks = Array.from({ length: 60 }, (_, i) => i);
import "../../styles/virwrld.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cool Clock</title>
  </head>
  <body>
    <div class="main-clock">
      <div class="clock-face">
        {
          tickMarks.map((i) => (
            <div
              class={`tick ${i % 5 === 0 ? "hour-tick" : ""} ${i % 10 === 5 ? "test-tick" : ""}`}
              style={`transform: translate(-50%, -50%) rotate(${i * 6}deg) translateY(-225px)`}
            />
          ))
        }
        <div class="hand hour"></div>
        <div class="hand minute"></div>
        <div class="hand second"></div>
        <div class="center-dot"></div>
      </div>
    </div>
    <div class="main-label"><span id="hrs">00</span><span id="min">00</span><span id="sds">00</span></div>
    <script>
      setInterval( () => {
        const now = new Date();
        const secondsRatio = now.getSeconds() / 60;
        const minutesRatio = (secondsRatio + now.getMinutes()) / 60;
        const hoursRatio = (minutesRatio + now.getHours()) / 12;
        let strHrs = "0";
        let strMin = "0";
        let strSds = "0";
        document.querySelector( ".second" ).style.transform = `translate(-50%, 0) rotate(${secondsRatio * 360}deg)`;
        document.querySelector( ".minute" ).style.transform = `translate(-50%, 0) rotate(${minutesRatio * 360}deg)`;
        document.querySelector( ".hour" ).style.transform = `translate(-50%, 0) rotate(${hoursRatio * 360}deg)`;
        if ( String( now.getHours() ).length === 1 ) {
          strHrs = "0" + String( now.getHours() );
          document.getElementById( "hrs" ).innerHTML = strHrs;
        }
        else {
          document.getElementById( "hrs" ).innerHTML = String( now.getHours() );
        }
        if ( String( now.getMinutes() ).length === 1 ) {
          strMin = "0" + String( now.getMinutes() );
          document.getElementById( "min" ).innerHTML = strMin;
        }
        else {
          document.getElementById( "min" ).innerHTML = String( now.getMinutes() );
        }
        if ( String( now.getSeconds() ).length === 1 ) {
          strSds = "0" + String( now.getSeconds() );
          document.getElementById( "sds" ).innerHTML = strSds;
        }
        else {
          document.getElementById( "sds" ).innerHTML = String( now.getSeconds() );
        }
      }, 1000 );
    </script>
    </body>
</html>
